

## Lab 2

Welcome to the second lab of the AIML!
In addition to implementing code, there will be questions that you must answer which relate to the lab and your implementation. Each question you will answer is preceded by a **'Question X'** header. Carefully read each question and provide you answer or code in the following textboxes with **'Answer:'** header. Your lab submission will be evaluated based on your answers to each of the questions and the implementation you provide.

# Every question is of 1 mark.

## Hypothesis Testing

The purpose of the test is to tell if there is any significant difference between two data sets.

## Overview

This module covers,

1) One sample and Two sample t-tests

2) ANOVA

3) Type I and Type II errors

4) Chi-Squared Tests

5) Linear Regression

## Question 1 

*A student is trying to decide between two GPUs. He want to use the GPU for his research to run Deep learning algorithms, so the only thing he is concerned with is speed.*

*He picks a Deep Learning algorithm and a large data set and runs it on both GPUs 15 times, timing each run in hours. Results are given in the below lists GPU1 and GPU2.*

In [12]:
%matplotlib inline 
import numpy as np
import pandas as pd
import scipy.stats
import matplotlib.pyplot as plt   
import matplotlib.style
GPU1 = pd.DataFrame([11,9,10,11,10,12,9,11,12,9,11,12,9,10,9])
GPU2 = pd.DataFrame([11,13,10,13,12,9,11,12,12,11,12,12,10,11,13])

#Assumption: Both the datasets (GPU1 & GPU 2) are random, independent, parametric & normally distributed

Hint: You can import ttest function from scipy to perform t tests

Given,

Null Hypothesis : There is no significant difference between data sets

Alternate Hypothesis : There is a significant difference

*Do two-sample testing and check whether to reject Null Hypothesis or not.*

#### Answer:

In [26]:
from scipy.stats import ttest_ind,ttest_ind_from_stats

t,p=ttest_ind(GPU1,GPU2)
print(p>0.05)
##Null Hypothesis is rejected.

[False]

## Question 2 

He is trying a third GPU - GPU3.

In [25]:
GPU3 = pd.DataFrame([9,10,9,11,10,13,12,9,12,12,13,12,13,10,11])

#Assumption: Both the datasets (GPU1 & GPU 3) are random, independent, parametric & normally distributed

*Do two-sample testing and check whether there is significant differene between speeds of two GPUs GPU1 and GPU3.*

#### Answer:

In [27]:
from scipy.stats import ttest_ind,ttest_ind_from_stats

t,p=ttest_ind(GPU1,GPU3)
print(p)

##Null Hypothesis is accepted and alternate rejected.

[0.14509211]

### ANOVA

## Question 3 

If you need to compare more than two data sets at a time, an ANOVA is your best bet. 

*The results from three experiments with overlapping 95% confidence intervals are given below, and we want to confirm that the results for all three experiments are not significantly different.*

#Assumption: All the 3 datasets (e1,e2 & e3) are random, independent, parametric & normally distributed
But before conducting ANOVA, test equality of variances (using Levene's test) is satisfied or not. If not, then mention that we cannot depend on the result of ANOVA

In [3]:
import pandas as pd
e1 = pd.DataFrame([1.595440,1.419730,0.000000,0.000000])
e2 = pd.DataFrame([1.433800,2.079700,0.892139,2.384740])
e3 = pd.DataFrame([0.036930,0.938018,0.995956,1.006970])

#### Answer:

## Question 4 

*In one or two sentences explain about **TypeI** and **TypeII** errors.*

#### Answer:

In [ ]:
 In statistical hypothesis testing, a type I error is the rejection of a true null hypothesis (also known as a "false positive" finding), while a type II error is failing to reject a false null hypothesis (also known as a "false negative" finding).

## Question 5 

Explain how the higher confidence value effects TypeI and TypeII error.

#### Answer:

In [ ]:
alpha=1-confidence level
If alpha increases type I error increases and type 2 decreases.
So higher the confidence level lesser the alpha.

## Question 6 

Now we are talking about a different GPU sets. One GPU is new GPU and another is old GPU.

*A computer expert wants to test the null hypothesis that a new GPU is no more effective than the older model.*

Lets consider that he selects the GPU which he think is more effective.

Now, find out which GPU he has selected if he made Type I error. And give reasoning about which is more effective.

**Answer:** 
( It is a subjective question. You dont have to do any calculation or code for it) 
( This question has not relation with the past GPU questions)

In [ ]:
He has accepted the Null Hypothesis

## Question 7 

From question6, if he made Type II error.

*Now, find out which GPU he has selected. And give reasoning about which is more effective.*

#### Answer:

# Linear Regression

# Simple Linear Regression

Here we will try to see that if we can make a regression model to predict one column of a dataset by the use of other coloumn.

## Dataset

Population of U.S. Cities

### Description
The bigcity data frame has 49 rows and 2 columns.

The measurements are the population (in 1000's) of 49 U.S. cities in 1920 and 1930. The 49 cities are a random sample taken from the 196 largest cities in 1920.

### Format
This data frame contains the following columns:

`u`
The 1920 population.

`x`
The 1930 population.

There is one unnamed column also in this dataset. Please remove and ignore that coloumn.

Source

The data were obtained from

Cochran, W.G. (1977) Sampling Techniques. Third edition. John Wiley

References

Davison, A.C. and Hinkley, D.V. (1997) Bootstrap Methods and Their Application. Cambridge University Press.

# Question 8 
Read the dataset given in file named 'bigcity.csv'.

In [40]:
data=pd.read_csv("bigcity.csv")
data

    Unnamed: 0    u    x
0            1  138  143
1            2   93  104
2            3   61   69
3            4  179  260
4            5   48   75
5            6   37   63
6            7   29   50
7            8   23   48
8            9   30  111
9           10    2   50
10          11   38   52
11          12   46   53
12          13   71   79
13          14   25   57
14          15  298  317
15          16   74   93
16          17   50   58
17          18   76   80
18          19  381  464
19          20  387  459
20          21   78  106
21          22   60   57
22          23  507  634
23          24   50   64
24          25   77   89
25          26   64   77
26          27   40   60
27          28  136  139
28          29  243  291
29          30  256  288
30          31   94   85
31          32   36   46
32          33   45   53
33          34   67   67
34          35  120  115
35          36  172  183
36          37   66   86
37          38   46   65
38          39  121  113
39          40   44   58
40          41   64   63
41          42   56  142
42          43   40   64
43          44  116  130
44          45   87  105
45          46   43   61
46          47   43   50
47          48  161  232
48          49   36   54

# Question 9 - Transform the dataset 
Find the number of rows in given dataset and separate the input(u column)  and target variables(x column) into X and Y.

Remove the unnamed coloumn.

Hint: You can shape function to get the size of the dataframe

In [45]:
data.shape[0]
data.drop(['Unnamed: 0'],axis=1)
data.rename(columns={'u': 'X', 'x': 'Y'}, inplace=True)

      u    x
0   138  143
1    93  104
2    61   69
3   179  260
4    48   75
5    37   63
6    29   50
7    23   48
8    30  111
9     2   50
10   38   52
11   46   53
12   71   79
13   25   57
14  298  317
15   74   93
16   50   58
17   76   80
18  381  464
19  387  459
20   78  106
21   60   57
22  507  634
23   50   64
24   77   89
25   64   77
26   40   60
27  136  139
28  243  291
29  256  288
30   94   85
31   36   46
32   45   53
33   67   67
34  120  115
35  172  183
36   66   86
37   46   65
38  121  113
39   44   58
40   64   63
41   56  142
42   40   64
43  116  130
44   87  105
45   43   61
46   43   50
47  161  232
48   36   54

## Question 10 - Check the dataset for any missing values and also print out the correlation matrix

You can use .isna() and .corr() functions to check NA's and correlation in the dataframe respectively

### The high correlation betwwen u and x indicates that the variable u is a good predictor of variable x

# Question 11 - Split data into train, test sets 
Divide the data into training and test sets with 80-20 split using scikit-learn. Print the shapes of training and test feature sets.*

Check: train_test_split function

# Question 12 - Find coefficients & intercept
Estimate the coefficients b0 and b1 using scikit-learn.

Check: coef_ and intercept_ functions can help you get coefficients & intercept

# Question 13 - Linear Relationship between feature and target 
Plot the line with b1 and b0 as slope and y-intercept.

Hint - y = mx + c, plot y

# Question 14 - Evaluation of model with scikit-learn 
Validate the model with Root Mean Squares error and R^2 score using scikit-learn. RMSE and R2 for test data and prediction

Hint: You can import mean_squared_error function & r2 (R square) from sklearn.metrics. Performing root operation over mean square error over mean square error gives you root mean square error

## Question 15 - Calculate the accuracy of the model for both training and test data set

### Hint: .score() function